:root {
	--primary-color: #48b0b0;
	--secondary-color: #4a4a4a;
	--border-color: #a1a1a1;
	--user-content-grey: #cfcfcf;
	--nav-background: #f0f0f0;
	--font: sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	display: grid;
	grid-template-columns: 7rem calc(100% - 7rem);
	height: 100%;
	margin: 0;
}

nav {
	background: var(--nav-background);
	text-align: center;
	position: relative;
}

nav::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 92%;
	background: var(--primary-color);
} 

ul {
	list-style-type: none;
	padding: 12rem 0 0 0;
}

li {
	padding: 1rem;
}

nav ul li svg {
	width: 2rem;
	height: 4rem;
	fill: var(--secondary-color);
	transition: 0.2s;
}

nav ul li:hover svg {
	fill: var(--primary-color);
}

header {
	padding: 1rem 2rem 0.5rem 2rem;
	position: relative;
	border-bottom: 4px solid var(--nav-background);
}

.logo {
	width: 25rem;
}

.account {
	display: inline-block;
	position: absolute;
	right: 12rem;
	font-family: var(--font);
	color: var(--secondary-color);
}

.account div:nth-child(1) {
	font-size: 2rem;
	padding: 1rem 1rem 0.25rem 1rem;
}

.account div:nth-child(2) {
	font-size: 1.6rem;
	text-align: end;
	padding: 0.25rem 1rem 1rem 1rem;
	cursor: pointer;
}

.profile {
	position: absolute;
	right: 5rem;
	border-radius: 50%;
	width: 6rem;
}

.user-content {
	position: relative;
	margin: 5rem;
}

h1 {
	font-weight: normal;
	font-family: var(--font);
	color: var(--secondary-color);
	font-size: 3rem;
}

.search-box {
	width: 22rem;
	margin: 2rem 0 2rem 0;
	border: 1px solid var(--border-color);
	border-radius: 2rem;
	position: relative;
}

.search-box svg {
	margin: 0.5rem;
	height: 2rem;
	width: 2rem;
	fill: var(--secondary-color);
}

.search-box input { 
	position: absolute;
	bottom: 20%;
	width: 18rem;
	outline: none;
	border: none;
}

.user-details-table {
	margin-bottom: 8rem;
	height: 20.1rem;
	overflow-y: auto;
	position: relative;
}

table {
	border-collapse: collapse;
	font-family: var(--font);
	text-align: left;
	table-layout: fixed;
}

thead th {
	position: sticky;
	z-index: -1;
	background-color: var(--user-content-grey);
	top: 0;
}

tbody td {
	position: relative;
	z-index: -2;
}

td, th {
	width: 40vw;
	height: 4rem;
	padding-left: 1rem;
	border: 1px solid var(--secondary-color);
}

th:last-child, td:last-child {
	width: 10vw;
	text-align: center;
}

.new-user-details {
	width: 60%;
	margin-bottom: 5rem;
	display: inline-block;
}

.new-user-details h1, .user-picture h1 {
	padding-bottom: 1rem;
	border-bottom: 4px solid var(--nav-background);
}

.new-user-details div {
	margin: 1rem 0;
	position: relative;
	font-family: sans-serif;
	font-size: 1.5rem;
	color : var(--secondary-color);
}

.user-name, .e-mail, .firstn, .lastn {
	display: inline-block;
	width: 40rem;
	border: solid 1px var(--border-color);
}

.user-name, .firstn {
	margin-right: 15rem !important;
}

#username, #email, #first-name, #last-name {
	width: 39rem;
	padding: 2rem 0.5rem 0.5rem 1rem;
	outline: none;
	border: none; 
}

.user-name label, .e-mail label, .firstn label, .lastn label {
	position: absolute;
	left: 2%;
	top: 25%;
	transition: font-size 0.4s ease-out,
				transform 0.4s ease-out,
				color;
}

#username:focus + label, #email:focus + label, #first-name:focus + label,
#last-name:focus + label {
	transform: translateY(-70%);
	font-size : 1.2rem;
	color: var(--primary-color);
}

.user-name:focus-within , .e-mail:focus-within, .firstn:focus-within,
.lastn:focus-within {
	border: 1px solid var(--primary-color);
}

#role {
	width: 40rem;
	padding: 1.5rem 1rem 1.5rem 1rem;
	font-size: 1.5rem;
	color: var(--secondary-color);
	background: none;
	border: 1px solid var(--border-color);
	outline: none;
}

#role + label {
	position: absolute;
	left: 1.5%;
	top: 33%;	
}

button {
	border: none;
	cursor: pointer;
}

.user-picture {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 50rem;
	height: 52rem;
	margin-left: 9%;
	margin-bottom: 2rem;
	font-family: var(--font);
	color: var(--secondary-color);
}

.user-picture img {
	width: 100%;
	height: 35rem;
	display: block;
}

#img-upload {
	display: none;
}

.user-picture label {
	position: absolute;
	font-size: 1.5rem;
	bottom: 0;
	background: var(--user-content-grey);
	padding: 1.5rem 41%;
	cursor: pointer;
}

.form-submit-buttons {
	width: 100%;
	padding: 2rem 0 0 ;
	border-top: 4px solid var(--nav-background);
}

#add-user, #cancel {
	padding: 1.5rem 0;
	width: 15rem;
}

#add-user {
	background: var(--primary-color);
	color: white;
}

#cancel {
	background: var(--user-content-grey);
	color: var(--secondary-color);
}